<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Align Items in Center</title><style>
        body(
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        )
    </style

    
</head>


</style>
    

     <body style="background-color: rgba(158, 115, 202, 0.368);">



    <h1> Heart Patient Report </h1>
    <form method="POST" action="/heart_pred">
        <br>
        <br>

        <label>age:</label>
        <input type = "text" name = "age">

      
            
        </select>

        <br>
        <br>

        <label>sex:</label>
        <input type = "text" name = "sex">
        </select>

        <br>
        <br>
        <label>cp:</label>
        <input type = "text" name = "cp">

        
        </select>

        <br>
        <br>
        
        <label>trestbp:</label>
        <input type = "text" name = "trestbp">

        
        </select>

        
        <br>
        <br>
        
        <label>chol:</label>
        <input type = "text" name = "chol">

        

        </select>

        
        <br>
        <br>
        
        <label>fbs:</label>
        <input type = "text" name = "fbs">

        
        </select>
        <br>
        <br>
        
        <label>restecg:</label>
        <input type = "text" name = "restecg">

        
        </select>


        <br>
        <br>
        
        <label>thalach:</label>
        <input type = "text" name = "thalach">


        </select>

        <br>
        <br>
        
        <label>exang:</label>
        <input type = "text" name = "exang">

        </select>

        <br>
        <br>

        <label>oldpeak:</label>
        <input type = "text" name = "oldpeak">
        </select>

        <br>
        <br>
        <label>slope:</label>
        <input type = "text" name = "slope">
        </select>

        <br>
        <br>
        <label>ca:</label>
        <input type = "text" name = "ca">
        </select>


        <br>
        <br>
        <label>thal:</label>
        <input type = "text" name = "thal">
        </select>

        <input type = "submit" value="SUBMIT">

        <br>

        <p>Result: <b>  {{ prediction }} /- </b> Only </p>


    </form>


</body>
</html>